<div class="btnPageContainer">
  <app-button [title]="['Play']" [routerLink]="['/']"></app-button>
</div>

<div class="component">
  <app-add-cards-form
    [type]="CardType.Act"
    category="Acting"
  ></app-add-cards-form>

  <app-add-cards-form
    [type]="CardType.Draw"
    category="Drawing"
  ></app-add-cards-form>

  <app-add-cards-form
    [type]="CardType.Speak"
    category="Speaking"
  ></app-add-cards-form>

  <app-add-cards-form
    [type]="CardType.Miming"
    category="Miming"
  ></app-add-cards-form>

  <app-add-cards-form
    [type]="CardType.Surprize"
    category="Surprize"
  ></app-add-cards-form>
</div>
