<div id="main">
  <div class="btnPageContainer">
    <app-button
      [hidden]="!isLoggedIn"
      url="/add-cards"
      [isDraggable]="true"
      [title]="['Add cards']"
    ></app-button>
    <!-- <app-button
      url="/dashboard"
      [isDraggable]="false"
      [title]="['Tests']"
    ></app-button> -->

    <app-button
      [hidden]="isLoggedIn"
      url="auth/register"
      [isDraggable]="false"
      title="Register"
    ></app-button>
    <app-button
      [hidden]="isLoggedIn"
      url="auth/login"
      [isDraggable]="false"
      title="Login"
    ></app-button>
    <app-button
      [hidden]="!isLoggedIn"
      (click)="logout()"
      [isDraggable]="false"
      title="Logout"
    ></app-button>
  </div>
  <div id="cards">
    <app-card-stack [type]="CardType.Act" img="Act"> </app-card-stack>
    <app-card-stack [type]="CardType.Draw" img="Drawing"></app-card-stack>
    <app-card-stack [type]="CardType.Miming" img="Miming"></app-card-stack>
    <app-card-stack [type]="CardType.Speak" img="Speaking"></app-card-stack>
    <app-card-stack [type]="CardType.Surprize" img="Surprize"></app-card-stack>
  </div>
</div>
